function mraidIsReady() {
    mraid.removeEventListener("ready", mraidIsReady);
    prepareMyAd();
}

function prepareMyAd() {
    if (!mraid.isViewable()) {
        mraid.addEventListener("viewableChange", isInterstitialDisplayed);
    } else {
        showMyAd();
    }
}

function isInterstitialDisplayed(displayed) {
    if (displayed) {
        mraid.removeEventListener("viewableChange", isInterstitialDisplayed);
        showMyAd();
    }
}

function showMyAd() {
    var img = document.querySelector('#img1');
    img.style.display = "block";
    if (img.complete && img.naturalHeight !== 0) {
        eventTrack("${TRACK_DOMAIN}eventId=2&{PARAMS}");
    }
    attachEventListener("click", img, function(e) {
        e.preventDefault();
        mraid.open('${CLICK_DOMAIN}{PARAMS}');
        return false;
    });
    attachEventListener("error", img, function(e) {
        e.preventDefault();
        eventTrack("${TRACK_DOMAIN}eventId=11&{PARAMS}");
        return false;
    });
}

function eventTrack(url) {
    var tracker = new Image();
    tracker.src = url;
}

function setupViewport(width) {
    var element = document.querySelector("meta[name=viewport]");
    if (!element) {
        element = document.createElement("meta");
        element.name = "viewport";
        element.content = "width=" + width + ", user-scalable=no";
        document.getElementsByTagName('head')[0].appendChild(element);
    } else {
        element.content = "width=" + width + ", user-scalable=no";
    }
}
setupViewport(320);

function attachEventListener(evt, el, fn) {
    if (el.addEventListener) {
        el.addEventListener(evt, fn, false);
    } else if (el.attachEvent) {
        el.attachEvent("on" + evt, fn);
    } else {
        el[evt] = fn;
    }
}

function doReadyCheck() {
    if (!checkOnce) {
        checkOnce = true;
        if (mraid.getState() == 'loading') {
            mraid.addEventListener("ready", mraidIsReady);
        } else {
            prepareMyAd();
        }
    }
}

function loadAd() {
    var elemDiv = document.createElement('div');
    elemDiv.setAttribute("id", "adContainer");
    document.body.appendChild(elemDiv);
    var elemImg = new Image(320, 480);
    elemImg.id = 'img1';
    elemImg.onload = function() {
        // image loaded pixel 
        eventTrack("${TRACK_DOMAIN}eventId=1&{PARAMS}");
        doReadyCheck();
    };
    elemImg.src = '${IMAGE_URL_1}';
    elemImg.style.cssText = "display:none;position:absolute;top:0px;left:0px;";
    elemDiv.appendChild(elemImg);
}
checkOnce = false;
setTimeout(doReadyCheck, 1000);

loadAd();